<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>cgh.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="this is caiguanhao's homepage.">
  <meta name="author" content="caiguanhao">
  <!--[if gt IE 9]><!-->
  <link rel="stylesheet" href="/css/cghio.css">
  <script src="/js/vendor/angular.js"></script>
  <script src="/js/vendor/angular-route.js"></script>
  <script src="/js/vendor/angular-sanitize.js"></script>
  <script src="/js/vendor/fastclick.js"></script>
  <script src="/js/vendor/markdown.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/values.javascript.js"></script>
  <script>
    (function() {
      var lr = 'http://' + window.location.hostname + ':35729/livereload.js';
      document.writeln('<' + 'script src="' + lr + '"></' + 'script>');
    })();
  </script>
  <script type="text/ng-template" id="index">
    <div id="wrap">
      <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation"
           data-navbar-id="navbar">
          <div class="container horizontal-links">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle"
                data-navbar-id="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a tabindex="-1" class="navbar-brand" href="/#/">cgh.io</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
              <ul class="nav navbar-nav">
                <li navbar-link><a tabindex="-1" href="/#/builds">Builds</a></li>
                <li navbar-link><a tabindex="-1" href="/#/sites">Sites</a></li>
                <li navbar-link><a tabindex="-1" href="/#/panoramas">Panos</a></li>
                <li navbar-link><a tabindex="-1" href="/#/links">Links</a></li>
                <li navbar-link><a tabindex="-1" href="/#/help">Help</a></li>
                <li navbar-link><a tabindex="-1" href="/#/about">About</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div id="content" class="container" ng-view></div>
    </div>
    <footer>
      <div class="footer container">
        <a href="/#/">cgh.io</a> | <a href="/#/about">about</a> |
        <a href="https://github.com/caiguanhao">github</a> |
        <a href="https://github.com/cghio/cghio">source</a> |
        <a href="https://twitter.com/caiguanhao" target="_blank">tw</a>
        <span class="desktop-only">
          | use [ and ] to navigate between pages
        </span>
      </div>
    </footer>
  </script>
  <script type="text/ng-template" id="partial:gallery">
    <div class="row">
      <div class="col-sm-5 col-md-4" ng-repeat="column in items">
        <div class="thumbnail" ng-repeat="item in column">
          <img ng-if="item.image" ng-src="{{item.image}}{{webp}}" alt="{{item.title}}">
          <div class="caption">
            <h4>
              <span ng-bind="item.title"></span>
              <span class="label label-info smlabel" ng-bind="tag"
                ng-repeat="tag in item.tags.split(' ')"></span>
            </h4>
            <p ng-repeat="desc in split(item.desc)" ng-bind="desc"></p>
            <p class="btn-group btn-group-sm">
              <a ng-repeat="name in keys(item.buttons)"
                ng-init="url = item.buttons[name]" target="{{target(url)}}"
                href="{{url}}" class="btn btn-default"
                ng-bind-html="name|buttonify"></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="main">
    <div ng-include src="'partial:gallery'"></div>
  </script>
  <script type="text/ng-template" id="builds">
    <table class="table responsive-table table-builds">
      <thead>
        <tr>
          <th>Name</th>
          <th>Version</th>
          <th>Platform</th>
          <th>Architecture</th>
          <th>
            Hash ({{currentCrypto().name}})
            <div class="btn-group btn-group-xs pull-right">
              <input type="button" class="btn btn-default"
                ng-repeat="crypto in cryptos" crypto="{{crypto.key}}"
                ng-class="{active: crypto.active}" value="{{crypto.name}}">
              <a href="/#/help/checksums" class="btn btn-default">
                <span class="glyphicon glyphicon-question-sign"></span>
              </a>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="build in builds">
          <td>
            <a href="{{build.url}}" target="_blank">{{build.name}}</a>
          </td>
          <td>{{build.version}}</td>
          <td>{{build.platform}}</td>
          <td>{{build.architecture}}</td>
          <td>{{build[currentCrypto().key]}}</td>
        </tr>
      </tbody>
    </table>
  </script>
  <script type="text/ng-template" id="sites">
    <div ng-include src="'partial:gallery'"></div>
  </script>
  <script type="text/ng-template" id="panoramas">
    <div class="panoramas row" ng-repeat="pano in panoramas">
      <div class="col-sm-6" ng-init="link = first_link(pano.buttons)">
        <a href="{{link}}" target="{{target(link)}}"
          remove-unless="link" title="{{pano.title}}">
          <span class="img-tape"
            style="background-image: url({{pano.image}}{{webp}});"></span>
        </a>
      </div>
      <div class="col-sm-6">
        <h4>
          <span ng-bind="pano.title"></span>
          <span class="label label-info smlabel" ng-pluralize
            count="pano.scenes"
            when="{'0': 'no scenes',
                   'one': '{} scene',
                   'other': '{} scenes'}"></span>
        </h4>
        <p ng-repeat="desc in split(pano.desc)" ng-bind="desc"></p>
        <p class="btn-group btn-group-sm">
          <a ng-repeat="name in keys(pano.buttons)"
            ng-init="url = pano.buttons[name]" target="{{target(url)}}"
            href="{{url}}" class="btn btn-default"
            ng-bind-html="name|buttonify"></a>
        </p>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="links">
    <div class="row">
      <div class="form-group col-sm-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </span>
          <input type="text" class="form-control" placeholder="Filter"
            ng-model="keyword">
        </div>
      </div>
      <div class="form-group col-sm-8 text-right small">
        Links will be opened in
        <span class="btn-group btn-group-xs">
          <input type="button" class="btn btn-default"
            ng-repeat="target in targets" link-target="{{target.target}}"
            ng-class="{active: target.active}" value="{{target.name}}">
        </span>
        tab
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4" ng-repeat="link_col in links">
        <div class="panel panel-default"
          ng-class="{nolinks:!(link_col[link_row_name] | filter:keyword).length}"
          ng-repeat="link_row_name in keys(link_col)">
          <div class="panel-heading">{{link_row_name}}</div>
          <div class="list-group">
            <a class="list-group-item" href="{{link.url}}"
              ng-repeat="link in link_col[link_row_name] | filter:keyword"
              target="{{target().target}}">
              {{link.title}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="help">
    <div class="row">
      <div class="col-sm-4">
        <div class="list-group vertical-links">
          <a class="list-group-item" href="/#/help/{{help.slug}}"
            ng-if="helps.length" tabindex="-1" ng-repeat="help in helps"
            ng-class="{active:help.name===help_topic_name}">
            {{help.title}}
          </a>
          <div class="list-group-item" ng-if="!helps.length">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            No help topics yet.
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div ng-if="help_topic_content"
          ng-bind-html="help_topic_content|markdown"></div>
        <div ng-if="!help_topic_content">
          <div class="jumbotron">
            <h2 ng-pluralize
              count="helps.length"
              when="{'0': 'No help topic.',
                     'one': 'Select a help topic.',
                     'other': 'Select a help topic.'}"></h2>
            <p ng-pluralize
              count="helps.length"
              when="{'0': 'No help topic at the moment.',
                     'one': 'Get help from {} help topic on the left.',
                     'other': 'Get help from {} help topics on the left.'}"></p>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="about">
    <div class="row">
      <div class="col-sm-6">
        <h3>tl;dr - roadmap</h3>
        <ul>
          <li>Use IIS and ASP to make personal website.</li>
          <li>Write PHP web apps.</li>
          <li>Start using Linux.</li>
          <li>Use PHP to build static sites.</li>
          <li>Use git for every project.</li>
          <li>Write Android and iOS apps.</li>
          <li>Use Jekyll to build static sites.</li>
          <li>Use Ruby on Rails to build web apps.</li>
          <li>Use Node.js to build web apps.</li>
          <li>Use Assemble.js to build static sites.</li>
          <li>Use PyQt to build desktop apps.</li>
          <li>Use Ember.js and Angular.js.</li>
          <li>Use XenServer and write tools to manage.</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3>tl;dr - who</h3>
        <ul>
          <li>A landscape architecture <em>graduate</em> \</li>
          <li>who lives on making website \</li>
          <li>at home for most of time \</li>
          <li>and learns latest web techs \</li>
          <li>hoping to become an expert \</li>
          <li>and work in a big company.</li>
        </ul>
        <h3>tl;dr - names</h3>
        <ul>
          <li>
            <span class="label label-info">PINYIN</span>
            caiguanhao / Cai Guanhao</li>
          <li>
            <span class="label label-info">中文</span>
            蔡冠豪
          </li>
          <li>
            <span class="label label-info">粤语</span>
            Choi Goon-ho
          </li>
        </ul>
        <h3>tl;dr - want</h3>
        <ul>
          <li>big money to immigrate to <em>free country</em></li>
        </ul>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="cv">
    <h1>蔡冠豪 <small>Cai Guanhao (Choi Goon-ho)</small></h1>
    <h3>Web 开发者</h3>
    <hr>
    <div class="row cv-row">
      <div class="col-sm-4 cv-section-name">
        <h3>简介</h3>
      </div>
      <div class="col-sm-8 cv-section-content">
        <p>2012年佛山科技学院园林专业毕业，虽非网络相关专业，但热衷编写代码，2011年开始经常编写与网络有关的代码。
        良好的六级英语水平有助接触学习行业内先进技术，编写高质量代码。毕业后主要是个自由职业者，
        从事建立静态网站和制作各类服务器相关程序和软件。</p>
      </div>
    </div>
    <hr>
    <div class="row cv-row">
      <div class="col-sm-4 cv-section-name">
        <h3>技能</h3>
      </div>
      <div class="col-sm-8 cv-section-content">
        <h4>AngularJS</h4>
        <p>熟悉利用AngularJS制作单网页程序，曾制作过实时服务器数据更新的高效程序、
        一个自动生成Word文档的办公软件和一些信息网站。</p>
        <hr>
        <h4>Node.js</h4>
        <p>熟悉利用Grunt、Express、Mongoose等工具制作多个高效、安全、功能完善的后台程序。
        熟悉HTTP、WebSocket协议，同时也编写过不少Grunt插件提高效率。</p>
        <hr>
        <h4>网页</h4>
        <p>熟悉利用Bootstrap或者从零编写CSS/Less和HTML创建桌面和手机版网页。
        熟练使用Assemble或Jekyll建立静态网站。
        另外也熟悉通过压缩图片、CSS、JS、字体文件和优化服务器配置等方法提高网页速度。</p>
        <hr>
        <h4>Unix / Linux / Windows</h4>
        <p>熟练操作Mac、Debian、CentOS、XenServer和Windows系统的命令行工具和编写自动化程序，
        如用Bash、BAT、AutoIt、C编写命令行工具，用PyQt制作图形界面软件。
        另外也熟悉服务器创建、安装、配置。</p>
        <hr>
        <h4>其他</h4>
        <p>曾经制作过一两个Android和iOS软件，所以能理解和少量编写Java/Objective-C代码。</p>
      </div>
    </div>
    <hr>
    <div class="row cv-row">
      <div class="col-sm-4 cv-section-name">
        <h3>代码</h3>
      </div>
      <div class="col-sm-8 cv-section-content">
        <p>UTF-8无BOM编码，Unix换行，保留最后换行，两空格缩进，尽量控制80列，必要时备注，
        撰写英文README和文档，遵循各语言大部分代码惯例和指南。</p>
      </div>
    </div>
    <hr>
    <div class="row cv-row">
      <div class="col-sm-4 cv-section-name">
        <h3>学习</h3>
      </div>
      <div class="col-sm-8 cv-section-content">
        <p>主要通过新项目学习新语言或学习使用新工具。另外关注Twitter上新技术和新工具的发布，
        观看视频或阅读文章，然后尝试制作。如果遇上问题，到StackOverflow等网站寻找解决方法。</p>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="_404">
    <h1>404 Page Not Found</h1>
    <p>The link you followed may be broken, or the page may have been
      removed.</p>
    <p>You can go back to <a href="/#/">home page</a>.</p>
  </script>
  <script src="/js/init.js"></script>
  <script>
    CGH.constant('DEVELOPMENT', true);
  </script>
  <!--<![endif]-->
</head>

<body>
  <!--[if lte IE 9]>
    <div style="text-align: center; line-height: 40px;">
      <b>Your browser is out of date. Revisit this page with the latest version of Google Chrome.</b>
      <br>Download Chrome from:
      <a href="https://www.google.com/chrome/">Google</a> |
      <a href="http://d.cgh.io/ChromeStandaloneSetup.exe">
        Chrome Standalone Setup for Windows</a>
      <br>You can also view this page on your iPhone or Android.
      <br><br>
      <b>你的浏览器已过时，请安装使用最新版 Google Chrome 浏览器。安装完后再在新浏览器上访问此页。</b>
      <br>立即下载：
      <a href="https://www.google.com/chrome/">Google 官网</a> |
      <a href="http://d.cgh.io/ChromeStandaloneSetup.exe">Windows 下的离线安装包</a>
      <br>另外你也可以使用 iPhone 或 Android 移动设备访问此页。
    </div>
  <![endif]-->
</body>

</html>
