<!DOCTYPE html>
<html ng-app="CGH">

<head>
  <meta charset="UTF-8">
  <title>cgh.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="this is caiguanhao's homepage.">
  <meta name="author" content="caiguanhao">
  <link rel="stylesheet" href="/css/cghio.css">
  <script development src="/js/vendor/angular.js"></script>
  <script development src="/js/vendor/angular-route.js"></script>
  <script development src="/js/vendor/angular-sanitize.js"></script>
  <script concat="angular" dest="/js/angular.js"></script>
  <script concat="angular" production="/js/vendor/angular.min.js"></script>
  <script concat="angular" production="/js/vendor/angular-route.min.js"></script>
  <script concat="angular" production="/js/vendor/angular-sanitize.min.js"></script>
  <script uglify="vendors" dest="/js/vendors.js"></script>
  <script uglify="vendors" src="/js/vendor/markdown.js"></script>
  <script uglify="app" dest="/js/cghio.js" options='{"mangle": false}'></script>
  <script uglify="app" src="/js/main.js"></script>
  <script uglify="app" real-src="public/js/templates.js"></script>
  <script development src="http://localhost:35729/livereload.js"></script>
  <script type="text/ng-template" id="index.html">
    <div id="wrap">
      <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/#!/">cgh.io</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li navbar-link><a href="/#!/builds">Builds</a></li>
                <li navbar-link><a href="/#!/links">Links</a></li>
                <li navbar-link><a href="/#!/help">Help</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div id="content" class="container" ng-view></div>
    </div>
    <footer>
      <div class="container">
        <div class="footer">
          cgh.io
        </div>
      </div>
    </footer>
  </script>
  <script type="text/ng-template" id="main.html">
    <div class="row">
      <div class="col-sm-5 col-md-4" ng-repeat="repo in repositories">
        <div class="thumbnail">
          <img ng-src="{{repo.image}}" alt="Maintainer">
          <div class="caption">
            <h4>{{repo.title}}</h4>
            <p>{{repo.desc}}</p>
            <p class="btn-group btn-group-sm">
              <a ng-repeat="(name, url) in repo.buttons" target="_blank"
                href="{{url}}" class="btn btn-default">{{name}}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="builds.html">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Version</th>
          <th>Platform</th>
          <th>Architecture</th>
          <th>
            Hash
            <div class="btn-group btn-group-xs pull-right">
              <input type="button" class="btn btn-default"
                ng-repeat="crypto in cryptos" crypto="{{crypto.key}}"
                ng-class="{active: crypto.active}" value="{{crypto.name}}">
              <a href="/#!/help/checksums" class="btn btn-default">
                <span class="glyphicon glyphicon-question-sign"></span>
              </a>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="build in builds">
          <td>
            <a href="{{build.url}}" target="_blank">{{build.name}}</a>
          </td>
          <td>{{build.version}}</td>
          <td>{{build.platform}}</td>
          <td>{{build.architecture}}</td>
          <td>{{currentCrypto().name}}: {{build[currentCrypto().key]}}</td>
        </tr>
      </tbody>
    </table>
  </script>
  <script type="text/ng-template" id="links.html">
    <div class="row">
      <div class="form-group col-sm-4">
        <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </span>
          <input type="text" class="form-control" placeholder="Filter"
            ng-model="keyword">
        </div>
      </div>
      <div class="form-group col-sm-8 text-right small">
        Links will be opened in
        <span class="btn-group btn-group-xs">
          <input type="button" class="btn btn-default"
            ng-repeat="target in targets" link-target="{{target.target}}"
            ng-class="{active: target.active}" value="{{target.name}}">
        </span>
        tab
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4" ng-repeat="link_col in links">
        <div class="panel panel-default" ng-repeat="link_row_name in keys(link_col)">
          <div class="panel-heading">{{link_row_name}}</div>
          <div class="list-group">
            <a class="list-group-item" href="{{link.url}}"
              ng-repeat="link in link_col[link_row_name] | filter:keyword"
              target="{{target().target}}">
              {{link.title}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </script>
  <script type="text/ng-template" id="help.html">
    <div class="row">
      <div class="col-sm-4">
        <div class="list-group">
          <a class="list-group-item" href="/#!/help/{{help.slug}}"
            ng-if="helps.length"
            ng-repeat="help in helps"
            ng-class="{active:help.slug===help_topic.slug}">
            {{help.title}}
          </a>
          <div class="list-group-item" ng-if="!helps.length">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            No help topics yet.
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div ng-if="help_topic" ng-bind-html="help_topic.content|markdown"></div>
        <div ng-if="!help_topic">
          <div class="jumbotron">
            <h2 ng-pluralize
              count="helps.length"
              when="{'0': 'No help topic.',
                     'one': 'Select a help topic.',
                     'other': 'Select a help topic.'}"></h2>
            <p ng-pluralize
              count="helps.length"
              when="{'0': 'No help topic at the moment.',
                     'one': 'Get help from {} help topic on the left.',
                     'other': 'Get help from {} help topics on the left.'}"></p>
          </div>
        </div>
      </div>
    </div>
  </script>
</head>

<body>
  <!--[if lte IE 9]>
    <div class="ie-warnings">
      Please upgrade to IE 10 or use Chrome or Firefox browser.
      <br>
      Download Chrome from:
      <a href="https://www.google.com/chrome/">Google</a> |
      <a href="http://dl.pconline.com.cn/download/51614-1.html">
        PCOnline (Windows)
      </a>
      <br>
      Download Firefox from:
      <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla</a>
    </div>
  <![endif]-->
</body>

</html>
