<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th>Platform</th>
      <th>Architecture</th>
      <th>
        Hash
        <div class="btn-group btn-group-xs pull-right">
          <input type="button" class="btn btn-default"
            ng-repeat="crypto in cryptos" crypto="{{crypto.key}}"
            ng-class="{active: crypto.active}" value="{{crypto.name}}">
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="build in builds">
      <td>
        <a href="{{build.url}}" target="_blank">{{build.name}}</a>
      </td>
      <td>{{build.version}}</td>
      <td>{{build.platform}}</td>
      <td>{{build.architecture}}</td>
      <td>{{currentCrypto().name}}: {{build[currentCrypto().key]}}</td>
    </tr>
  </tbody>
</table>
