<div class="row">
  <div class="col-sm-4">
    <div class="list-group">
      <a class="list-group-item" href="/#!/help/{{help.slug}}"
        ng-if="helps.length"
        ng-repeat="help in helps"
        ng-class="{active:help.slug===help_topic.slug}">
        {{help.title}}
      </a>
      <div class="list-group-item" ng-if="!helps.length">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        No help topics yet.
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div ng-if="help_topic" ng-bind-html="help_topic.content|markdown"></div>
    <div ng-if="!help_topic">
      <div class="jumbotron">
        <h2 ng-pluralize
          count="helps.length"
          when="{'0': 'No help topic.',
                 'one': 'Select a help topic.',
                 'other': 'Select a help topic.'}"></h2>
        <p ng-pluralize
          count="helps.length"
          when="{'0': 'No help topic at the moment.',
                 'one': 'Get help from {} help topic on the left.',
                 'other': 'Get help from {} help topics on the left.'}"></p>
      </div>
    </div>
  </div>
</div>
