html,
body {
  height: 100%;
}
body {
  padding-top: 70px;
}
.container {
  max-width: 1000px;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -40px;
  padding: 0 0 40px;
}
footer {
  background-color: #f5f5f5;
  min-height: 40px;
  font-size: 12px;
}
.footer {
  padding-top: 12px;
}
.ie-warnings {
  text-align: center;
}
